/*Button.nodule.css*/
.button {
    padding: 8px 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.primary {
    height: 50px;
    width: 30%;
    display: flex;
    align-items: center;
    gap: 7px;
    border-radius: 10px;
    background: var(--color-primary, #fff);
    color: #3b82f6;
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);*/
    border: 2px #eee solid;
}

.primary:hover {
  box-shadow: 0 2px 4px #6c6464;
}

.secondary {
    background: #eee;
    color: #222;
}

.sm { font-size: 14px; }
.md { font-size: 16px; }
.lg { font-size: 18px; }

.disabled {
    opacity: .6;
    pointer-events: none;
}

.logo {
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 5px;
}